.navbar {
  border: 1px solid black;
  background: rgba(0, 0, 0, 0.5);
  padding: 0;
  width: 100vw;
  height: 12vh;
  /* position: fixed; */
  z-index: 10000;
  top: 0;
  left: 0;
  opacity: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-icon{
  font-size: 4vw;
  width: 4vw;
}

.nav-social-media {
  margin-top: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.nav-social-media a {
  margin: 0;
  padding: 0.5vw 7vw;
  list-style-type: none;
  width: 8vw;
  font-size: 1vw;
  font-family: "Share Tech Mono", monospace, sans-serif;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: #ffffff;
}

/* Mobile ------------------------------------------ */

.navbar_M {
  border: 1px solid black;
  background: rgba(0, 0, 0, 0.5);
  padding: 0;
  width: 100vw;
  height: 10vh;
  /* position: fixed; */
  z-index: 10000;
  top: 0;
  left: 0;
  opacity: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-icon_M{
  font-size: 8vw;
  width: 8vw;
}

.nav-social-media_M {
  margin-top: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.nav-social-media_M a {
  margin: 0;
  padding: 0.5vw 7vw;
  list-style-type: none;
  width: 8vw;
  font-size: 1vw;
  font-family: "Share Tech Mono", monospace, sans-serif;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: #ffffff;
}